{% extends 'base.html' %}
{% load static %}
{% block title %} Editar Tarefas{% endblock %}


{% block content %}
<div class="tarefas2">
    <div class="insert-div">
        <h1 class="task-title">Editar Tarefas</h1>
        <form method="post">
            {% csrf_token %}
            <div>
            <label>Título da Tarefa</label>
                {{form.title}}
            </div>
            <br>
            <div>
                <label>Descrição</label>
                {{form.description}}
            </div>
                <div class="botao-reator">
                    <button type="submit" class="botao" style="display: relative;">
                    <img src="{% static 'images/reator.png' %}" alt="">
                    </button>
                </div>
        </form>
    </div>
</div>
{% endblock %}