{% extends 'base.html' %}
{% load static %}


{% block title %}Gerenciador de Tarefas {% endblock %}

{% block content %}
        <section class="tarefas">
            <div class="tarefas-div">
                <h1 class="task-title">Lista de Tarefas - Industrias Stark</h1>
                <div class="add-div" onclick="add_tarefas()">
                    <span style="font-size: 20px;">Adicionar Tarefas</span>
                </div>
                <div class="search-div">
                    <i class="bi bi-search" onclick="enviar();"></i>
                    <form method="GET" style="display: inline-block;" class="formulario" spellcheck="false" autocomplete="off">
                        {% csrf_token %}
                    <input type="text" id="search" name="search" placeholder="Busque a tarefa">
                    </form>
                </div>
                <hr>
            {% if consulta %}
                {% for task in consulta %}
                <ul class="task-list">
                    <li class="task-item">
                        <span><a href="/task/{{task.id}}">ID: {{task.id}}&nbsp;&nbsp;&nbsp;&nbsp;Titulo: {{task.title}}</a></span>
                        <div>
                        <span><i class="bi bi-pencil-square" onclick="editar('{{task.id}}');"></i></span>
                        <span  onclick="deletar('{{task.id}}');"><i class="bi bi-trash"></i></span>
                        </div>
                    </li>
                </ul>
                {% endfor %}
            {% endif %}
            </div>
        </section>
        <section class="content">
            <h1 class="title">Industrias Stark - Gerenciador de Tarefas</h1>
            <div class="container-fluid mt-0">
                <div class="row">
                    <div class="col-md-4 ironman1">
                        <img src="{% static 'images/iron-man-1.png' %}" alt="">
                    </div>
                    <div class="col-md-8 text-white mt-5 frases:">
                        <div class="tony-stark">
                        <img src="https://static.wikia.nocookie.net/liberproeliis/images/9/9a/Tony.png/revision/latest?cb=20191027160533&path-prefix=pt-br" alt="" class="tony-stark">
                        </div>
                        <h3 class="text-align-center">Humor Tony Stark - Melhores frases</h3>
                        <br>
                        <p>“Se não pudermos proteger a Terra, pode ter certeza que iremos vingá-la.”</p>
                        <p>“Ahn… Shakespeare na área. Tua mãe sabe que usas a cortina dela?”</p>
                        <p>“Eu me pergunto qual seria melhor, ser temido ou respeitado? Seria demais pedir os dois?</p>
                        <br>
                        <p>“Você pode tirar meus trajes, você pode tirar a minha casa, mas há uma coisa que você nunca pode tirar de mim: eu sou o Homem de Ferro!”</p>
                        <p>"Dr. Banner, seu trabalho é incomparável. E eu sou um grande fã da maneira como você perde o controle e se transforma num enorme e raivoso monstro verde.” </p>
                        <p>“Tudo o que fiz, tudo o que farei hoje, tudo o que virei a fazer, eu faço para proteger este mundo. Alguém me disse uma vez que com grande poderes vêm grandes responsabilidades. Isso é geralmente considerado como uma lição para crianças. Uma simples determinação em fazer a coisa. Mas não há nada mais simples do que isso. Quando eu coloquei esta armadura, assumi mais poder do que qualquer ser humano poderia ter… E talvez mais responsabilidade do que o meu coração pode verdadeiramente suportar. Mas hoje…. Eu vou fazer o meu trabalho. Eu vou proteger você. Custe o que custar!”</p>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}